.App {
  height: 300px;
  width: 600px;
  margin: 0 auto;
  margin-top: 25%;
  font-size: 15px;
  border-radius: 16px;
  background-color: white;
}

.Container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstDiv {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
}

.secondDiv {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  width: 100%;
}
.secondDiv button {
  margin: 5px;
  padding: 10px;
}
.secondDiv .new {
  margin-left: 45%;
}

quote {
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 18px;
}

.secondQ {
  font-size: 13px;
  float: right;
  margin-right: 60px;
  margin-top: 20px;
  padding: 10px;
}

.authorQuote {
  width: 100%;
  height: 60px;
}

.go {
  margin-bottom: 16px;
} 

.icons {
  color: white;
}